<div class="box">
    <h1 *ngIf="idsToDelete.length === 1 || idsToDelete.length === 0">
      <span>{{ idsToDelete.length }} item selected</span>
      <span class="spacer"></span>
      <span>{{ favouriteList.length }} items total</span>
    </h1>
    <h1 *ngIf="idsToDelete.length > 1">
      <span>{{ idsToDelete.length }} items selected</span>
      <span class="spacer"></span>
      <span>{{ favouriteList.length }} items total</span>
    </h1>
        <br>
  <div class="columns">
    <div class="column is-narrow">
      <button (click)="deleteFavorite()" class="button is-danger" [disabled]="idsToDelete.length===0">delete</button>
    </div>
    <div class="column">
      <table
        class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth"
      >
        <thead>
          <tr>
            <th class="is-narrow">
              <label class="checkbox">
                <input
                  type="checkbox"
                  [(ngModel)]="masterCheckboxChecked"
                  (change)="toggleAllCheckboxes()"
                />
              </label>
            </th>
            <th class="is-narrow">ID</th>
            <th>Link</th>
            <th class="is-clickable">
              <span>Category</span>
              <span (click)="sortByCat()">&nbsp;&nbsp;&#x2191;</span>
                <span (click)="sortByCatDesc()">&nbsp;&nbsp;&#x2193;</span>
            </th>
            <th class="is-narrow is-clickable">
              <span>Last Update</span>
              <span (click)="sortByDate()">&nbsp;&nbsp;&#x2191;</span>
                <span (click)="sortByDateDesc()">&nbsp;&nbsp;&#x2193;</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="favouriteList.length == 0">
            <td colspan="4">No data !</td>
          </tr>
          <tr *ngFor="let f of favouriteList">
            <td>
              <label class="checkbox">
                <input
                  type="checkbox"
                  [(ngModel)]="checked[f.id]"
                  (change)="checkMasterCheckbox(f.id)"
                />
              </label>
            </td>
            <td>{{ f.id }}</td>
            <td>{{ f.link }}<a data-ng-href="f.link" target="_blank"></a></td>
            <td>{{ f.category.label }}</td>
            <td>{{ f.updatedAt | date : "yyyy-MM-dd" }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
