<div class="box">
  <h2 class="title">Main menu</h2>
  <div class="columns">
    <div class="column">
      <div class="select is-fullwidth">
        <select
          [(ngModel)]="categoryFilter"
          (ngModelChange)="filterFavorites(categoryFilter)"
        >
          <option value="0">Filter by ...</option>
          <option *ngFor="let category of categories" [value]="category.id">
            {{ category.label }}
          </option>
        </select>
      </div>
    </div>
    <div class="column is-narrow">
      <button class="button is-primary" (click)="setMode('create')">Add</button>
    </div>
  </div>
</div>
